/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.intro video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* INTRO SECTION *****************************************************************/
.intro{
  height: 100vh;
}
.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 80px;
  color: white;
}


/* FULANI SECTION *****************************************************************/
.fulani{
  height: 100vh;
}
.fulani img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fulani h1{
  position: relative;
  top: 15%;
  text-align: center;
  font-size: 80px;
  color: white;
}

.fulani h2{
  position: relative;
  top: 25%;
  text-align: center;
  font-size: 30px;
  color: white;
  width: 90%;
  margin: auto;
}

.fulani_text_2{
  color: red !Important;
  font-weight: bold;
}


/* IDP SECTION *****************************************************************/
.idp{
  height: 100vh;
}
.idp img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.idp h1{
  position: relative;
  width: 90%;
  margin: auto;
  top: 5%;
  text-align: center;
  font-size: 70px;
  color: white;
}

.idp h2{
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 30px;
  color: white;
  width: 90%;
  margin: auto;
}

.idp span{
  color:red;
  font-weight: 800px;
}


/* IDP SECTION *****************************************************************/
.edu{
  height: 100vh;
}
.edu img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.edu h1{
  position: relative;
  width: 90%;
  margin: auto;
  top: 5%;
  text-align: center;
  font-size: 70px;
  color: white;
}

.edu h2{
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 30px;
  color: white;
  width: 90%;
  margin: auto;
}

.edu span{
  color:red;
  font-weight: 800px;
}


/* END SECTION *****************************************************************/
.end{
  height: 100vh;
}
.end video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.end h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 80px;
  color: white;
}


/* END SECTION *****************************************************************/
section{
  height: 100vh;
  color: white;
  background: black;
}

section h1{
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}